:root {
  font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-background-secondary: #63aae0;
  --color-background-primary: #012538;
  --color-border-white: #ffffff;
  --color-border-black: #000000;
  --color-text-subtext: #ffffff92;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: grid;
  grid-template-rows: 92.5% 7.5%;
  grid-template-areas:
    "content"
    "navbar-content";
  height: 98vh;
  width: 45vh;
  border-radius: 3rem;
  border: 2px solid var(--color-background-secondary);
  margin: 0 auto;
  background-color: var(--color-background-primary);
  overflow: hidden;
}

#content {
  grid-area: content;
  overflow-y: auto;
  padding: 1rem;
}

#navbar-content {
  grid-area: navbar-content;
  text-align: center;
}

/* Optional mobile tweaks */
@media (max-width: 480px) {
  :root {
    font-size: 14px;
    /* Slightly smaller base text on small screens */
  }

  #navbar-content {
    padding: 1rem;
  }
}